__pycache__/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.vscode/
build/
big_bbmagic.egg-info/
bbmagic.egg-info/
/coverage-reports/
dist/
env/
htmlcov/
.idea/
.coverage
copy-lib.py
.env
*.keytab
.python-version
*.pyc
cov.xml
venv